<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.blueberry.ui.views">

    <view id="org.mitk.views.trainingplugin"
      name="CaPTk Training Plugin"
      category="General"
      icon="resources/training_plugin.svg"
      class="QmitkCaPTkTrainingPluginView" />

  </extension>

</plugin>
