<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.mitk.gui.qt.datamanager.contextMenuActions">
    <contextMenuAction nodeDescriptorName="LabelSetImage" label="Split labels to different images" icon="" class="QmitkCaPTkSplitLabelsToImages" />
  </extension>

</plugin>
