<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.blueberry.ui.views">

    <view id="upenn.cbica.captk.brain.survival"
      name="Survival Prediction Index"
      category="Brain"
      icon="resources/icon.svg"
      class="QmitkCaPTkSurvivalView" />

  </extension>
  
</plugin>
