<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension id="org.mitk.qt.captkapplication" point="org.blueberry.osgi.applications">
    <application>
      <run class="QmitkCaPTkApplication"/>
    </application>
  </extension>

  <extension id="captk" point="org.blueberry.core.runtime.products">
    <product name="CaPTk 2" application="org.mitk.qt.captkapplication" />
  </extension>

  <extension id="incise" point="org.blueberry.core.runtime.products">
    <product name="InciSe" application="org.mitk.qt.captkapplication" />
  </extension>

  <!-- <extension id="fiberfox" point="org.blueberry.core.runtime.products">
    <product name="MITK Fiberfox" application="org.mitk.qt.captkapplication" />
  </extension> -->

  <extension point="org.blueberry.ui.intro">
    <intro id="org.mitk.qt.captkapplicationintro"
      class="QmitkCaPTkIntroPart"
      role="editor"/>
    <introProductBinding
      productId="org.mitk.cbica.captk.application.captk"
      introId="org.mitk.qt.captkapplicationintro"/>
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective
      id="org.mitk.captkapp.defaultperspective"
      name="Research"
      class="QmitkCaPTkDefaultPerspective"
      icon="resources/icon_research.xpm">
    </perspective>
    <!-- <perspective
      id="org.mitk.captkapp.perspectives.editor"
      name="Viewer"
      class="QmitkCaPTkEditorPerspective"
      icon="resources/perspectives/viewer_icon.png">
    </perspective>
    <perspective
      id="org.mitk.captkapp.perspectives.visualization"
      name="Visualization"
      class="QmitkCaPTkVisualizationPerspective"
      icon="resources/perspectives/eye.png">
    </perspective> -->
  </extension>

   <extension point="org.blueberry.ui.preferencePages">
     <page
       id="org.blueberry.ui.preferencePages.Style"
       name="Themes"
       category="org.mitk.GeneralPreferencePage"
       class="berry::ExtensionFactory:stylePreferencePage">
       <keywordreference id="org.blueberry.ui.style"/>
     </page>
     <page
       id="org.blueberry.ui.preferencePages.Perspectives"
       name="Perspectives"
       category="org.mitk.GeneralPreferencePage"
       class="berry::ExtensionFactory:perspectivesPreferencePage">
       <keywordreference id="org.blueberry.ui.perspectives"/>
     </page>
   </extension>
</plugin>
