<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension point="org.blueberry.ui.views">
    <view id="upenn.cbica.captk.views.phiestimator"
          name="PHI Estimator"
          class="QmitkPHIEstimatorView"
          category="Brain"
          icon="resources/icon.svg" />
  </extension>
</plugin>
